Rules, Severity parameter

Google antigravity for server

Endpoint -> server -> MongoDB

Logs separation


------------------------------------------------------

Red Team Work:

Vercel - to make it public

ngrok download on server

Server set up -> Antigravity, loveable AI

Supabase 

Agents -> Server -> through ngrok -> Vercel 
Vercel will deploy

----------------------------------------------------------


Types of Logs:

Windows: System, Security, Application, Network, Registry

Linux: System, Security, Application, Network



https://deskbound-nonuniquely-denyse.ngrok-free.dev
