[Unit]
Description=SOC Log Collection Agent
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/opt/soc-agent
Environment=PYTHONPATH=/opt/soc-agent/src:/opt/soc-agent
ExecStart=/opt/soc-agent/venv/bin/python3 /opt/soc-agent/src/agent.py

Restart=always
RestartSec=5


[Install]
WantedBy=multi-user.target
